Repository mehmetnyarar/niyojs: changes, and which lint-staged commands are due for each by the changed paths.
All: imagemin-lint-staged, prettier --write, eslint --fix, git add ., cross-env NODE_ENV=test jest --bail --findRelatedTests

.lintstagedrc:

{
  "./*.{png,jpeg,jpg,gif,svg}": "imagemin-lint-staged",
  "./*.{js,jsx,ts,tsx,json,md,html,css}": "prettier --write",
  "./*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "git add .",
    "cross-env NODE_ENV=test jest --bail --findRelatedTests"
  ]
}

feat(logger): add logger
  package.json
  packages/logger/.gitignore
  packages/logger/.lintstagedrc
  packages/logger/README.md
  packages/logger/__tests__/examples/file-storage.spec.ts
  packages/logger/__tests__/src/levels.spec.ts
  packages/logger/__tests__/src/logger.spec.ts
  packages/logger/__tests__/src/styles.spec.ts
  packages/logger/__tests__/src/utility.spec.ts
  packages/logger/examples/file-storage.ts
  packages/logger/examples/index.ts
  packages/logger/jest.config.js
  packages/logger/package.json
  packages/logger/src/const.ts
  packages/logger/src/index.ts
  packages/logger/src/levels.ts
  packages/logger/src/logger.ts
  packages/logger/src/storage.ts
  packages/logger/src/styles.ts
  packages/logger/src/types.ts
  packages/logger/src/utility.ts
  packages/logger/test/setup.ts
  packages/logger/tsconfig.build.json
  packages/logger/tsconfig.json
Due: prettier --write, eslint --fix, git add ., cross-env NODE_ENV=test jest --bail --findRelatedTests

ci: setup ci
  .github/workflows/publish.yml
  lerna.json
Due: prettier --write

Publish
  packages/logger/CHANGELOG.md
  packages/logger/package.json
Due: prettier --write

feat(logger): support primitive types for log meta
  packages/logger/__tests__/src/logger.spec.ts
  packages/logger/__tests__/src/utility.spec.ts
  packages/logger/src/const.ts
  packages/logger/src/logger.ts
  packages/logger/src/styles.ts
  packages/logger/src/types.ts
  packages/logger/src/utility.ts
Due: prettier --write, eslint --fix, git add ., cross-env NODE_ENV=test jest --bail --findRelatedTests

feat(logger): add console example
  packages/logger/__tests__/examples/console.spec.ts
  packages/logger/examples/console.ts
  packages/logger/examples/index.ts
  packages/logger/src/logger.ts
Due: prettier --write, eslint --fix, git add ., cross-env NODE_ENV=test jest --bail --findRelatedTests

ci: add canary ci
  .github/workflows/canary.yml
Due: none

fix(logger): fix test setup
  packages/logger/test/setup.ts
Due: prettier --write, eslint --fix, git add ., cross-env NODE_ENV=test jest --bail --findRelatedTests

ci: add version bump
  .github/workflows/canary.yml
Due: none

ci: remove github keyword
  .github/workflows/canary.yml
Due: none
